@model web2020apr_p01_t3.Models.FlightSchedule
@{
    ViewData["Title"] = "Edit Flight Schedule";
}

<h4 class="PageTitle">Edit Flight Schedule</h4>
<hr />
<form asp-action="EditFlightSchedule">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="ScheduleID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ScheduleID" readonly
                       class="form-control-plaintext" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="RouteID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="RouteID" readonly
                       class="form-control-plaintext" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="FlightNumber"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="FlightNumber" class="form-control" />
                <span asp-validation-for="FlightNumber"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="DepartureDateTime"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input type="date" min="2020-01-01" max="2020-12-30" id="DepartureDateTime" asp-for="DepartureDateTime" required />
                &nbsp;:&nbsp;
                <select asp-for="DepartureHours" id="Hours" name="Hours" required>
                    <option value="0" selected="selected">0</option>
                    @for (int i = 1; i <= 24; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                &nbsp;:&nbsp;
                <select asp-for="DepartureMins" id="Mins" name="Mins" required>
                    <option value="0" selected="selected">0</option>
                    @for (int i = 1; i <= 60; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                &nbsp;:&nbsp;
                <select asp-for="DepartureSeconds" id="Seconds" name="Seconds" required>
                    <option value="0" selected="selected">0</option>
                    @for (int i = 1; i <= 60; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="PriceEco"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input placeholder="$" asp-for="PriceEco" class="form-control" required />
                <span asp-validation-for="PriceEco"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PriceBusiness"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input placeholder="$" asp-for="PriceBusiness" class="form-control" required />
                <span asp-validation-for="PriceBusiness"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <button type="submit" class="btn btn-primary mb-2">Save</button>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>
